/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.content {
		padding-bottom: 66px;
	}
	.footer,
	.footer__wrapper {
		height: 56px;
	}
	.footer__wrapper {
		margin-bottom: -6px;	
	}
	
	.header {
		border-bottom: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		height: 55px;
	}
	.header__logo {
		padding-top: 19px;
	}
	.header__logo img {
		width: 116px;
		height: 19px;
	}
	.map-wrapper {
		height: 367px;
	}
	
	.content-header {
		height: 39px;
	}
	.content-header__title {
		font-size: 40px;
		line-height: 40px;
		margin-top: 0;
		margin-left: -3px;
	}

	.map-description {
		height: 200px;
		top: 0;
		margin-top: 167px;
		padding-top: 0;
		width: 100%;
	}
	.map-description__name {
		font-size: 18px;
		margin-top: 25px;
	}
	.map-description__adress,
	.map-description__mail a,
	.map-description__phone {
		font-size: 14px
	}
	.map-description__mail {
		margin-top: 8px;
	}
	.map-description__phone {
		margin-top: 11px;
	}

	.map {
		display: inline-block;
		content: '';
		background: url(../images/ya-map-xs.jpeg) no-repeat left top;
		height: 367px;
	}
	.map-small a{
		display: inline-block;
		width: 100%;
		height: 367px;
	}

	.clients-wrapper {
		margin-top: -4px;
	}
	.img-filter img{
		height: auto;
		width: 112px;
		margin-bottom: 20px;
	}

	.portfolio-inner-name {
		height: 58px;
	}
	.portfolio-inner-name p {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.portfolio-inner-video__logo img {
		margin-top: 2px;
		margin-left: 7px;
		width: 26px;
		height: 46px;
	}
	.portfolio-inner-video__name {
		font-size: 13px;
		margin-top: 0px;
		margin-left: 4px;
	}
	.portfolio-inner-video__name span {
		font-size: 13px;
		margin-left: 1px;
	}
	.portfolio-inner-descr {
		margin-top: 12px;
		margin-left: 0px;
	}
	.portfolio-inner-descr__title {
		font-size: 14px;
	}
	.portfolio-inner-descr ul {
		margin-top: 13px;
	}
	.portfolio-inner-descr ul li {
		font-size: 12px;
		margin-top: 13px;	
	}

	.portfolio-types-wrapper {
		height: 43px;
	}
	.portfolio-types li {
		font-size: 14px;
		margin-left: 10px;
	}
	.portfolio-types li:first-child a {
		font-size: 22px;
		margin-right: -12px;
	}
	

	.portfolio-types {
		margin-top: 5px;
		margin-right: 0;
	}

	.portfolio-types a,
	.portfolio-types__active {
		border-bottom: 1px solid transparent;
		padding-bottom: 3px;
	}
	.portfolio-types a:hover {
		border-bottom: 1px solid #e74c3c;
		
	}

	.portfolio-all-works {
  	margin-top: 8px;
	}
	.portfolio-img-hover {
		position: relative;
		padding-top: 0;
		font-size: 12px;
		margin-bottom: 22px;
	}
	.portfolio-img-hover a {
		opacity: 1;
		padding: 0;
		background-color: transparent;
		color: #2c3a42;
		
		text-align: left;
		line-height: 16px;
	}
	.portfolio-img-hover--sm a::before,
	.portfolio-img-hover--sm a::after,
	.portfolio-img-hover--lg a::before,
	.portfolio-img-hover--lg a::after { 
		display: none;
	 }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.container {
			padding: 0 10px;
		}

	.footer__copy {
		font-size: 10px;
	}

	.item-masonry img {
		padding: 0;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
